.hidden {
    display: none;
}

.i-parameters {
    background-color: lightgreen;
    margin: 10px auto;
    padding: 10px;
    width: 275px;
}

.square {
    flex: 1;
    margin: 30px 10px;
}

.square img {
    max-width: 200px;
}

#i-recipes-list {
    list-style: none;
    padding-left: 0px;
}

.i-recipe-group {
    display: flex;
    flex-direction: column;
    background-color: lightsteelblue;
    margin: 10px;
    padding: 15px;
}

.recipe-item {
    flex: 3;
    order: 2;
}

.jr-breakouts {
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
    padding: 10px;
    margin: 10px;
}

.jr-top {
    display: flex;
    flex-direction: row;
}

@media all and (min-width: 500px) {
    .i-recipe-group {
        flex-direction: row;
    }
}