body {
    margin: 0;
}

h1, h2 {
    font-family: 'Bungee', cursive;
}

h1 {
    text-align: center;
    display: none;
    color: white;
}

section {
    margin-left: 8px;
    margin-right: 8px;
}

header {
    background-color: black;
}

header img {
    display: block;
    margin: auto;
}

p, label, input, legend, a, span, li {
    font-family: 'Open Sans', sans-serif;
}

.button {
    height: 42px;
    font-size: 15px;
    background-color: black;
    color: white;
    border: none;
    /* border-radius: 2em; */
    margin: 10px auto auto auto;
}

.button:hover {
    background-color: #3E3C3E;
}


.hidden {
    display: none;
}


.parameters {
    background-color:#EBEAEB;
    /* margin: 10px auto; */
    padding: 8px;
    /* width: 275px; */
}

.param-text {
    margin: 0;
}

.square {
    flex: 1;
    margin: 30px 10px;
}

.square img {
    max-width: 200px;
}

.i-my-recipe {
    margin-bottom: 0px;
}

a {
    color: #3D3D3D;
    font-style: italic;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


#i-recipes-list {
    list-style: none;
    padding-left: 0px;
}

.i-recipe-group {
    display: flex;
    flex-direction: column;
    /* background-color: #B1FCF9; */
    border: 8px solid;
    margin: 10px;
    padding: 15px;
}

.recipe-item {
    flex: 3;
    order: 2;
}

.jr-recipe-img img {
    width: 100%;
}

/* .jr-breakouts {
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
    padding: 10px;
    margin: 10px;
} */

footer {
    color: #383838;
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
}

/* .jr-top {
    display: flex;
    flex-direction: row;
} */

select {
    width: 100%;
    max-width: 320px;
}

.your-message {
    background-color: #EBEAEB;
    padding: 8px;
}

#details {
    background-color: #EBEAEB;
    padding: 8px;
}

.jr-recipe-box {
    width: 90%;
    margin: auto;
}

@media all and (min-width: 500px) {
    .i-recipe-group {
        flex-direction: row;
    }

    .jr-group {
        display: flex;
        flex-direction: row;
    }

    .jr-item {
        order: 2;
        }
}